<div class="tripContent">
  <div style="width: 100%">
    <a class="back" (click)="goBack()">Back</a>
  </div>
  <h1>{{ trip.Name }}</h1>

  <span class="country">{{ trip.Country }}</span>

  <div class="images">
    <img id="image1" src="{{ trip.Image1 }}" width="450" height="300">
    <img id="image2" src="{{ trip.Image2 }}" width="450" height="300">
    <img id="image3" src="{{ trip.Image3 }}" width="450" height="300">
  </div>

  <span class="description">{{ trip.Description }}</span>

  <iframe [src]="trip.Map | safe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <span class="price">$ {{ trip.Price }}</span>

  <ng-container *ngIf="trip.PlacesTotal - trip.PlacesReserved > 5; else med">
    <p class="avalPlaces">{{ trip.PlacesTotal - trip.PlacesReserved }} PLACES AVAILABLE</p>
    <p style="color: aliceblue;">Total places: {{ trip.PlacesTotal }}</p>
  </ng-container>
  <ng-template #med>
    <ng-container *ngIf="trip.PlacesTotal - trip.PlacesReserved > 0 ; else low">
      <p class="avalPlaces" style="color: #b84724">ONLY {{ trip.PlacesTotal - trip.PlacesReserved }} PLACES AVAILABLE</p>
      <p style="color: aliceblue;">Total places: {{ trip.PlacesTotal }}</p>
    </ng-container>
    <ng-template #low>
      <p class="avalPlaces" style="color: red">There are no places available for this trip</p>
      <p style="color: aliceblue;">Total places: {{ trip.PlacesTotal }}</p>
    </ng-template>
  </ng-template>

  <button *ngIf="trip.PlacesTotal > trip.PlacesReserved" class="addToCart" (click)="addToCart(id)">Add to cart</button>

    <div class="rev">
      <h2 style="margin: auto;;">Reviews</h2>
      <div style="width: 100%; margin-top: 15px;" *ngFor="let review of reviews" [ngClass]="{}">
        <div class="review">
          <div class="title">
            {{ review.Title }}
          </div>
          <div class="reviewContent">
            {{ review.Content }}
          </div>
        </div><br>
      </div>

      <div *ngIf="(isVerified && hasOrdersWithTrip) || isManager ">
        <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card" style="background-color: rgba(3, 160, 250, 0.7);">
              <div class="card-body">
                <h3 class="card-title text-center">ADD REVIEW</h3>
                  <form [formGroup]="AddReviewForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                      <label for="country" class="form-label">Title:</label>
                      <input type="text" class="form-control" id="country" formControlName="Title">
                      <span class="error" *ngIf="formErrors.Title" style="color: red">{{ formErrors.Title }}</span>
                    </div>

                    <div class="mb-3">
                      <label for="start-date" class="form-label">Content:</label>
                      <textarea class="form-control" id="start-date" formControlName="Content" rows="5"></textarea>
                      <span class="error" *ngIf="formErrors.Content" style="color: red">{{ formErrors.Content }}</span>
                    </div>

                    <div class="mb-3">
                      <label for="end-date" class="form-label">Trip date:</label>
                      <input type="date" class="form-control" id="end-date" formControlName="EndDate">
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" [disabled]="!AddReviewForm.valid">Add</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
