.contentbox {
  justify-content: center;
  display: flex;
}

.tripContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 160, 250, 0.8);
  border-radius: 20px;
  width: 600px;
  margin-top: 50px;
  padding: 30px;
}

img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

h2 {
  color: aliceblue;
  font-size: 25px;
}

.description {
  color: aliceblue;
  font-size: 18px;
}

.price {
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
  background-color: #b8512e;
  padding: 10px;
  border-radius: 20px;
}

.avalPlaces {
  color: aliceblue;
  font-weight: bold;
  font-size: 25px;
}

.buttons button {
  width: 150px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 35px 10px 35px;
}

.buttons button:hover {
  transform: scale(1.4);
}

.buttons .delete {
  color: aliceblue;
  background-color: #b8512e;
}

.buttons .add {
  color: aliceblue;
  background-color: #397f2e;
}

.remove-trip {
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: aliceblue;
}

.filters {
  margin-top: 50px;
  width: 300px;
  height: 840px;
  margin-left: -100px;
  margin-right: 50px;
  flex-shrink: 0;
  background-color: rgba(3, 160, 250, 0.9);
  border-radius: 15px;
  padding: 20px;
}

.filters button {
  color: white;
  background-color: #e0ab4c;
  border-radius: 5px;
}

.filters button:hover {
  transform: scale(1.3);
}

