.contentbox {
  display: flex;
  flex-direction: row;
}

.tripContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 160, 250, 0.8);
  border-radius: 20px;
  width: 600px;
  margin-top: 50px;
  padding: 30px;
}

img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

h2 {
  color: aliceblue;
  font-size: 25px;
}

.description {
  color: aliceblue;
  font-size: 18px;
}

.price {
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
  background-color: #b8512e;
  padding: 10px;
  border-radius: 20px;
}

.avalPlaces {
  color: aliceblue;
  font-weight: bold;
  font-size: 25px;
}

.buttons button {
  width: 150px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 35px 10px 35px;
}

.buttons button:hover {
  transform: scale(1.4);
}

.buttons .delete {
  color: aliceblue;
  background-color: #b8512e;
}

.buttons .add {
  color: aliceblue;
  background-color: #397f2e;
}

.remove-trip {
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  color: aliceblue;
}

.form-placeholder {
  background-color: rgba(3, 160, 250, 0.8);
  border-radius: 20px;
  width: 600px;
  margin-top: 50px;
  padding: 30px;
}

.form-placeholder h3 {
  color: aliceblue;
}

.form-placeholder label {
  color: aliceblue;
}

.form-placeholder button {
  width: 40%;
  margin: auto;
}

.form-placeholder input {
  background-color: rgba(3, 120, 220, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 12px;
  font-weight: bold;
  color: #b81954;
  margin-bottom: 10px;
}

