<div class="contentbox">
  <div class="filters">
    <div>
      <app-filter-trips (filterChange)="applyFilter($event)"></app-filter-trips>
    </div>
  </div>
  <div>
    <div *ngFor="let trip of fTrips" [ngClass]="{}" >
      <a class="tripContent" [ngStyle]="getBorderStyle(trip)" [routerLink]="['/trip-details', trip.id]">
        <h2>{{ trip.Name | uppercase }} - {{ trip.Country | uppercase }}</h2>
        <p class="description">{{ trip.Description }}</p>
        <p class="price">Price: {{ trip.Price | currency }}</p>

        <ng-container *ngIf="trip.PlacesTotal - trip.PlacesReserved > 5; else med">
          <p class="avalPlaces">{{ trip.PlacesTotal - trip.PlacesReserved }} PLACES AVAILABLE</p>
          <p style="color: aliceblue;">Total places: {{ trip.PlacesTotal }}</p>
        </ng-container>
        <ng-template #med>
          <ng-container *ngIf="trip.PlacesTotal - trip.PlacesReserved > 0 ; else low">
            <p class="avalPlaces" style="color: #b84724">ONLY {{ trip.PlacesTotal - trip.PlacesReserved }} PLACES AVAILABLE</p>
            <p style="color: aliceblue;">Total places: {{ trip.PlacesTotal }}</p>
          </ng-container>
          <ng-template #low>
            <p class="avalPlaces" style="color: red">There are no places available for this trip</p>
            <p style="color: aliceblue;">Total places: {{ trip.PlacesTotal }}</p>
          </ng-template>
        </ng-template>
      </a>
    </div>

    <div class="pagination">
      <button *ngFor="let page of getPageNumbers()" (click)="onPageChange(page)">
        <div *ngIf="page === currentPage; else elseBlock">
          <span style="color: white">{{ page }}</span>
        </div>
        <ng-template #elseBlock>
          <span style="color: #fff;">{{ page }}</span>
        </ng-template>
      </button>
    </div>

  </div>
</div>

