<form [formGroup]="filterForm">
  <label for="lokalizacja">Country:</label>
  <select id="lokalizacja" formControlName="location" multiple>
    <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
  </select>

  <label for="priceFrom">Price From:</label>
  <input type="number" id="priceFrom" formControlName="priceFrom">

  <label for="priceFrom">Price To:</label>
  <input type="number" id="priceTo" formControlName="priceTo">

  <label for="dataFrom">End date:</label>
  <input type="date" id="dataFrom" formControlName="dateFrom">

  <label for="dateTo">Start date:</label>
  <input type="date" id="dateTo" formControlName="dateTo">

  <label for="rating">Rating:</label>
  <select id="rating" formControlName="rating" multiple>
    <option value="1">1 gwiazdka</option>
    <option value="2">2 gwiazdki</option>
    <option value="3">3 gwiazdki</option>
    <option value="4">4 gwiazdki</option>
    <option value="5">5 gwiazdek</option>
  </select>
</form>
