form {
  background-color: rgba(3, 160, 250, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 50px;
  margin-right: 50px;
}

label {
  margin-top: 20px;
}

input {
  background-color: rgba(3, 160, 250, 0.1);
}
