
<form [formGroup]="filterForm" class="mb-3">
  <div class="row">
    <div class="col-md-10">
      <label for="country" class="form-label">Country:</label>
      <select id="country" class="form-select" formControlName="country">
        <option value="" selected>Choose a country...</option>
        <option *ngFor="let country of availableCountries" [value]="country">{{ country }}</option>
      </select>
    </div>
    <div class="col-md-10">
      <label for="startDate" class="form-label">Start date after:</label>
      <input type="date" id="startDate" class="form-control" formControlName="startDate">
    </div>
    <div class="col-md-10">
      <label for="endDate" class="form-label">End date before:</label>
      <input type="date" id="endDate" class="form-control" formControlName="endDate">
    </div>
    <div class="col-md-10">
      <label for="priceMin" class="form-label">Minimum price:</label>
      <input type="range" id="priceMin" class="form-range" max="{{ maxPrice }}" formControlName="priceMin">
      <span id="priceMinValue" style="color: white; margin-left: 15px;">0</span>
    </div>
    <div class="col-md-10">
      <label for="priceMax" class="form-label">Maximal price:</label>
      <input type="range" id="priceMax" class="form-range" max="{{ maxPrice }}" formControlName="priceMax">
      <span id="priceMaxValue" style="color: white; margin-left: 15px;">0</span>
    </div>
  </div>

  <div class="mt-3">
    <button type="button" class="btn btn-primary" (click)="applyFilter()">Apply Filter</button>
  </div>
</form>
