<nav class="navbar navbar-expand-lg bg-primary">
    <a class="navbar-brand" routerLink="/" ><span style="font-size: 30px; color: #faa809;"> FUNTRAVEL </span> <br> <span style="font-size: 15px;"> best travel agency </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">About us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/trips">Our offer</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user; else showLogin">

          <div *ngIf="userData.IsAdmin || userData.IsManager">
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-new-trip">Admin view</a>
            </li>
          </div>

          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/history">Orders history</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signout" (click)="signOut()">Sign out</a>
          </li>
          <span style="color: #254621; font-weight: bold; margin-left: 40px; margin-top: 8px;">
            {{ user.email }}
          </span>
      </ul>

      <ng-template #showLogin>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </nav>

<main>
  <router-outlet></router-outlet>
</main>
