<div class="landing-page-content">
    <div id="description">
        <h1>FUNTRAVEL</h1>
        <p>Embark on a Journey Beyond Boundaries. Discover the world through our curated travel experiences, where every destination is a story waiting to be explored. Your adventure begins here.</p>
    </div>

    <div class="bottom-content">
      <div id="contact">
        <h2>Contact</h2>
        <ul>
          <li>
            funtravel@gmail.com
          </li>
          <li>
            +48 123 456 789
          </li>
          <li>
            +48 987 654 321
          </li>
          <li>
            Isla de Pascua, Easter Island, Valparaíso, Chile
          </li>
        </ul>
      </div>

      <div id="map">
          <h2>Visit us</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1326126.7794848094!2d-110.31461253203058!3d-26.75885541345902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9947f017a8d4ae2b%3A0xbbe5b3edc02a2db6!2sWyspa%20Wielkanocna!5e0!3m2!1spl!2spl!4v1703763891432!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</div>
