<div class="container mt-4" style="color: white; background-color: rgba(3, 160, 250, 0.7);" >
  <br>
  <h2>Trip Management</h2>

  <div *ngIf="trips">
    <ul class="list-group">
      <li *ngFor="let trip of trips" class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-1">{{ trip.Name }}</h5>
            <p class="mb-1">{{ trip.Country }} - {{ trip.StartDate | date:'mediumDate' }} to {{ trip.EndDate | date:'mediumDate' }}</p>
            {{ trip.Description }}<br>
            <span style="color: orange">${{ trip.Price }}</span>
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column;">
            <button class="btn btn-primary mr-2" style="margin: 10px;" [routerLink]="['/update-trip', trip.id]">Update</button>
            <button class="btn btn-danger" style="margin: 10px;" (click)="deleteTrip(trip.id)">Delete</button>
            <button class="btn btn-primary" style="margin: 10px;" [routerLink]="['/trip-details', trip.id]">Show offer</button>
          </div>
        </div>

      </li>
    </ul>
  </div>

  <div class="mt-4" style="justify-content: center; margin-bottom: 150px;">
    <button class="btn btn-primary" style="margin-bottom: 40px;" routerLink="/add-trip" >Add New Trip</button>
  </div>

  <div *ngIf="userService.userData.IsAdmin">
    <app-user-managment>

    </app-user-managment>
  </div>

</div>
